<title>ResumeSite</title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Cousine:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Fira+Sans' rel='stylesheet' type='text/css'>
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->
<link rel="stylesheet" type="text/css" href="/stylesheets/css/cssReset.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/css/main.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/css/mobile320px.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/css/hoverEffects.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/css/modalWindow.css">
<script src="./views/pages/js/main.js"></script>
<script src="./views/pages/js/jquery-2.2.4.min.js"></script>
