.nav a:hover {
    -webkit-box-shadow: inset 1px -67px 142px -44px rgba(0,0,0,0.73);
    -moz-box-shadow: inset 1px -67px 142px -44px rgba(0,0,0,0.73);
    box-shadow: inset 1px -67px 142px -44px rgba(0,0,0,0.73);
}
#siteLogo:hover {

}
