@media (max-width: 400px){
    header h1 {display: none;}
    header {
        background: url("http://s2.favim.com/orig/150719/ocean-palm-palm-trees-tropic-Favim.com-2979822.jpg");
        height: auto;
    }
    #siteLogo {display: block; margin: 0 auto;}
    .mainBlock li {
        font-size: 1em;
    }
    .bottomMenu {
        width: auto;
        height: 80px;
    }
}
